body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1207px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u492_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1243px;
  height:622px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u492 {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:0px;
  width:1243px;
  height:622px;
}
#u492_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u493_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u493 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:16px;
  font-size:13px;
}
#u493_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  word-wrap:break-word;
}
#u494_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u494 {
  border-width:0px;
  position:absolute;
  left:911px;
  top:570px;
  width:80px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u494_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u495_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u495 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:570px;
  width:80px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u495_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u496_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u496 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:41px;
  width:96px;
  height:29px;
  text-align:right;
}
#u496_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:92px;
  word-wrap:break-word;
}
#u497 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:41px;
  width:109px;
  height:29px;
}
#u497_input {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u497_input:disabled {
  color:grayText;
}
#u498_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u498 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:41px;
  width:96px;
  height:29px;
  text-align:right;
}
#u498_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:92px;
  word-wrap:break-word;
}
#u499 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:41px;
  width:186px;
  height:29px;
}
#u499_input {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u500_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u500 {
  border-width:0px;
  position:absolute;
  left:593px;
  top:41px;
  width:96px;
  height:29px;
  text-align:right;
}
#u500_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:92px;
  word-wrap:break-word;
}
#u501 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:41px;
  width:186px;
  height:29px;
}
#u501_input {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u502_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:29px;
}
#u502 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:80px;
  width:156px;
  height:29px;
  text-align:right;
}
#u502_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:152px;
  word-wrap:break-word;
}
#u503 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:80px;
  width:656px;
  height:84px;
}
#u503_input {
  position:absolute;
  left:0px;
  top:0px;
  width:656px;
  height:84px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u504_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:29px;
}
#u504 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:174px;
  width:156px;
  height:29px;
  text-align:right;
}
#u504_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:152px;
  word-wrap:break-word;
}
#u505 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:174px;
  width:656px;
  height:84px;
}
#u505_input {
  position:absolute;
  left:0px;
  top:0px;
  width:656px;
  height:84px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u506_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:29px;
}
#u506 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:269px;
  width:156px;
  height:29px;
  text-align:right;
}
#u506_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:152px;
  word-wrap:break-word;
}
#u507 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:269px;
  width:215px;
  height:29px;
}
#u507_input {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u508_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:29px;
}
#u508 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:269px;
  width:168px;
  height:29px;
  text-align:right;
}
#u508_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:164px;
  word-wrap:break-word;
}
#u509 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:269px;
  width:215px;
  height:29px;
}
#u509_input {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u510_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:29px;
}
#u510 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:317px;
  width:156px;
  height:29px;
  text-align:right;
}
#u510_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:152px;
  word-wrap:break-word;
}
#u511 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:317px;
  width:215px;
  height:29px;
}
#u511_input {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u511_input:disabled {
  color:grayText;
}
#u512_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:29px;
}
#u512 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:362px;
  width:156px;
  height:29px;
  text-align:right;
}
#u512_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:152px;
  word-wrap:break-word;
}
#u513_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:29px;
}
#u513 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:401px;
  width:156px;
  height:29px;
  text-align:right;
}
#u513_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:152px;
  word-wrap:break-word;
}
#u514 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:401px;
  width:215px;
  height:29px;
}
#u514_input {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u515 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:362px;
  width:215px;
  height:29px;
}
#u515_input {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u515_input:disabled {
  color:grayText;
}
#u516_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:29px;
}
#u516 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:440px;
  width:156px;
  height:29px;
  text-align:right;
}
#u516_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:152px;
  word-wrap:break-word;
}
#u517 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:440px;
  width:500px;
  height:80px;
}
#u517_input {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:80px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u518_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:29px;
}
#u518 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:362px;
  width:125px;
  height:29px;
  text-align:right;
}
#u518_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:121px;
  word-wrap:break-word;
}
#u519 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:362px;
  width:160px;
  height:29px;
}
#u519_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
