body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1506px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u763_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1592px;
  height:437px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u763 {
  border-width:0px;
  position:absolute;
  left:-43px;
  top:0px;
  width:1592px;
  height:437px;
}
#u763_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u764_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u764 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
  font-size:13px;
}
#u764_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u765 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:286px;
  width:1401px;
  height:144px;
}
#u766_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:36px;
}
#u766 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u766_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:91px;
  word-wrap:break-word;
}
#u767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:36px;
}
#u767 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:0px;
  width:109px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u767_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:105px;
  word-wrap:break-word;
}
#u768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:36px;
}
#u768 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:0px;
  width:98px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u768_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:94px;
  word-wrap:break-word;
}
#u769_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
}
#u769 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:0px;
  width:116px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u769_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  word-wrap:break-word;
}
#u770_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
}
#u770 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:0px;
  width:116px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u770_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  word-wrap:break-word;
}
#u771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
}
#u771 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:0px;
  width:116px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u771_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  word-wrap:break-word;
}
#u772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u772 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:0px;
  width:90px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u772_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u773 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:0px;
  width:100px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u773_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u774_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:36px;
}
#u774 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:0px;
  width:95px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u774_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:91px;
  word-wrap:break-word;
}
#u775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:36px;
}
#u775 {
  border-width:0px;
  position:absolute;
  left:935px;
  top:0px;
  width:94px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u775_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:90px;
  word-wrap:break-word;
}
#u776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
}
#u776 {
  border-width:0px;
  position:absolute;
  left:1029px;
  top:0px;
  width:116px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u776_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  word-wrap:break-word;
}
#u777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:36px;
}
#u777 {
  border-width:0px;
  position:absolute;
  left:1145px;
  top:0px;
  width:256px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u777_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:252px;
  word-wrap:break-word;
}
#u778_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:36px;
}
#u778 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:95px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u778_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:91px;
  word-wrap:break-word;
}
#u779_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:36px;
}
#u779 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:36px;
  width:109px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u779_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:105px;
  word-wrap:break-word;
}
#u780_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:36px;
}
#u780 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:36px;
  width:98px;
  height:36px;
}
#u780_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:94px;
  word-wrap:break-word;
}
#u781_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
}
#u781 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:36px;
  width:116px;
  height:36px;
}
#u781_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  word-wrap:break-word;
}
#u782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
}
#u782 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:36px;
  width:116px;
  height:36px;
}
#u782_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  word-wrap:break-word;
}
#u783_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
}
#u783 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:36px;
  width:116px;
  height:36px;
}
#u783_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  word-wrap:break-word;
}
#u784_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u784 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:36px;
  width:90px;
  height:36px;
}
#u784_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u785_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u785 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:36px;
  width:100px;
  height:36px;
}
#u785_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u786_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:36px;
}
#u786 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:36px;
  width:95px;
  height:36px;
}
#u786_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:91px;
  word-wrap:break-word;
}
#u787_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:36px;
}
#u787 {
  border-width:0px;
  position:absolute;
  left:935px;
  top:36px;
  width:94px;
  height:36px;
}
#u787_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:90px;
  word-wrap:break-word;
}
#u788_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
}
#u788 {
  border-width:0px;
  position:absolute;
  left:1029px;
  top:36px;
  width:116px;
  height:36px;
}
#u788_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  word-wrap:break-word;
}
#u789_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:36px;
}
#u789 {
  border-width:0px;
  position:absolute;
  left:1145px;
  top:36px;
  width:256px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u789_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u790_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:36px;
}
#u790 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:72px;
  width:95px;
  height:36px;
}
#u790_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:91px;
  word-wrap:break-word;
}
#u791_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:36px;
}
#u791 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:72px;
  width:109px;
  height:36px;
}
#u791_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:105px;
  word-wrap:break-word;
}
#u792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:36px;
}
#u792 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:72px;
  width:98px;
  height:36px;
}
#u792_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:94px;
  word-wrap:break-word;
}
#u793_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
}
#u793 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:72px;
  width:116px;
  height:36px;
}
#u793_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  word-wrap:break-word;
}
#u794_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
}
#u794 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:72px;
  width:116px;
  height:36px;
}
#u794_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  word-wrap:break-word;
}
#u795_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
}
#u795 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:72px;
  width:116px;
  height:36px;
}
#u795_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  word-wrap:break-word;
}
#u796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u796 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:72px;
  width:90px;
  height:36px;
}
#u796_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u797_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u797 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:72px;
  width:100px;
  height:36px;
}
#u797_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u798_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:36px;
}
#u798 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:72px;
  width:95px;
  height:36px;
}
#u798_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:91px;
  word-wrap:break-word;
}
#u799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:36px;
}
#u799 {
  border-width:0px;
  position:absolute;
  left:935px;
  top:72px;
  width:94px;
  height:36px;
}
#u799_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:90px;
  word-wrap:break-word;
}
#u800_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
}
#u800 {
  border-width:0px;
  position:absolute;
  left:1029px;
  top:72px;
  width:116px;
  height:36px;
}
#u800_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  word-wrap:break-word;
}
#u801_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:36px;
}
#u801 {
  border-width:0px;
  position:absolute;
  left:1145px;
  top:72px;
  width:256px;
  height:36px;
}
#u801_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u802_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:36px;
}
#u802 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:108px;
  width:95px;
  height:36px;
}
#u802_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:91px;
  word-wrap:break-word;
}
#u803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:36px;
}
#u803 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:108px;
  width:109px;
  height:36px;
}
#u803_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:105px;
  word-wrap:break-word;
}
#u804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:36px;
}
#u804 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:108px;
  width:98px;
  height:36px;
}
#u804_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:94px;
  word-wrap:break-word;
}
#u805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
}
#u805 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:108px;
  width:116px;
  height:36px;
}
#u805_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  word-wrap:break-word;
}
#u806_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
}
#u806 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:108px;
  width:116px;
  height:36px;
}
#u806_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  word-wrap:break-word;
}
#u807_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
}
#u807 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:108px;
  width:116px;
  height:36px;
}
#u807_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  word-wrap:break-word;
}
#u808_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u808 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:108px;
  width:90px;
  height:36px;
}
#u808_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u809_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u809 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:108px;
  width:100px;
  height:36px;
}
#u809_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:36px;
}
#u810 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:108px;
  width:95px;
  height:36px;
}
#u810_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:91px;
  word-wrap:break-word;
}
#u811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:36px;
}
#u811 {
  border-width:0px;
  position:absolute;
  left:935px;
  top:108px;
  width:94px;
  height:36px;
}
#u811_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:90px;
  word-wrap:break-word;
}
#u812_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
}
#u812 {
  border-width:0px;
  position:absolute;
  left:1029px;
  top:108px;
  width:116px;
  height:36px;
}
#u812_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  word-wrap:break-word;
}
#u813_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:36px;
}
#u813 {
  border-width:0px;
  position:absolute;
  left:1145px;
  top:108px;
  width:256px;
  height:36px;
}
#u813_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:252px;
  word-wrap:break-word;
}
#u814_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CC00FF;
}
#u814 {
  border-width:0px;
  position:absolute;
  left:1196px;
  top:330px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CC00FF;
}
#u814_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u815 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u816_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u816 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:52px;
  width:96px;
  height:29px;
  text-align:right;
}
#u816_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:92px;
  word-wrap:break-word;
}
#u817 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:52px;
  width:124px;
  height:29px;
}
#u817_input {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u818_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u818 {
  border-width:0px;
  position:absolute;
  left:1209px;
  top:100px;
  width:80px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u818_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u819 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:29px;
}
#u820 {
  border-width:0px;
  position:absolute;
  left:1002px;
  top:103px;
  width:69px;
  height:29px;
  text-align:right;
}
#u820_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:65px;
  word-wrap:break-word;
}
#u821 {
  border-width:0px;
  position:absolute;
  left:1071px;
  top:103px;
  width:79px;
  height:29px;
}
#u821_input {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u821_input:disabled {
  color:grayText;
}
#u822 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u823_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:29px;
}
#u823 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:103px;
  width:82px;
  height:29px;
  text-align:right;
}
#u823_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:78px;
  word-wrap:break-word;
}
#u824 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:103px;
  width:106px;
  height:29px;
}
#u824_input {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u825 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:103px;
  width:106px;
  height:29px;
}
#u825_input {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u826_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:29px;
}
#u826 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:52px;
  width:37px;
  height:29px;
  text-align:right;
}
#u826_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:33px;
  word-wrap:break-word;
}
#u827 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:52px;
  width:152px;
  height:29px;
}
#u827_input {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u827_input:disabled {
  color:grayText;
}
#u828 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:29px;
}
#u829 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:103px;
  width:64px;
  height:29px;
  text-align:right;
}
#u829_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u830 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:103px;
  width:82px;
  height:29px;
}
#u830_input {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u831 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:103px;
  width:82px;
  height:29px;
}
#u831_input {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u832 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u833 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:52px;
  width:96px;
  height:29px;
  text-align:right;
}
#u833_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:92px;
  word-wrap:break-word;
}
#u834 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:52px;
  width:124px;
  height:29px;
}
#u834_input {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u835 {
  border-width:0px;
  position:absolute;
  left:978px;
  top:52px;
  width:96px;
  height:29px;
  text-align:right;
}
#u835_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:92px;
  word-wrap:break-word;
}
#u836 {
  border-width:0px;
  position:absolute;
  left:1074px;
  top:52px;
  width:215px;
  height:29px;
}
#u836_input {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u836_input:disabled {
  color:grayText;
}
#u837 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:29px;
}
#u838 {
  border-width:0px;
  position:absolute;
  left:777px;
  top:103px;
  width:63px;
  height:29px;
  text-align:right;
}
#u838_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:59px;
  word-wrap:break-word;
}
#u839 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:103px;
  width:80px;
  height:29px;
}
#u839_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u840 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:103px;
  width:80px;
  height:29px;
}
#u840_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u841 {
  border-width:0px;
  position:absolute;
  left:697px;
  top:52px;
  width:96px;
  height:29px;
  text-align:right;
}
#u841_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:92px;
  word-wrap:break-word;
}
#u842 {
  border-width:0px;
  position:absolute;
  left:793px;
  top:52px;
  width:109px;
  height:29px;
}
#u842_input {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u842_input:disabled {
  color:grayText;
}
#u843_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:356px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u843 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:457px;
  width:281px;
  height:356px;
}
#u843_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u844_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u844 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:463px;
  width:228px;
  height:16px;
  font-size:13px;
}
#u844_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  word-wrap:break-word;
}
#u845 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u846 {
  border-width:0px;
  position:absolute;
  left:549px;
  top:631px;
  width:96px;
  height:29px;
  text-align:right;
}
#u846_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:92px;
  word-wrap:break-word;
}
#u847 {
  border-width:0px;
  position:absolute;
  left:645px;
  top:631px;
  width:116px;
  height:29px;
}
#u847_input {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u848 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u849 {
  border-width:0px;
  position:absolute;
  left:549px;
  top:660px;
  width:96px;
  height:29px;
  text-align:right;
}
#u849_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:92px;
  word-wrap:break-word;
}
#u850 {
  border-width:0px;
  position:absolute;
  left:645px;
  top:660px;
  width:116px;
  height:29px;
}
#u850_input {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u851 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u852 {
  border-width:0px;
  position:absolute;
  left:549px;
  top:689px;
  width:96px;
  height:29px;
  text-align:right;
}
#u852_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:92px;
  word-wrap:break-word;
}
#u853 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:29px;
}
#u854 {
  border-width:0px;
  position:absolute;
  left:549px;
  top:495px;
  width:206px;
  height:29px;
  text-align:right;
}
#u854_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:202px;
  word-wrap:break-word;
}
#u855_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u855 {
  border-width:0px;
  position:absolute;
  left:696px;
  top:770px;
  width:80px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u855_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u856_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u856 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:770px;
  width:80px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u856_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u857 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:29px;
}
#u858 {
  border-width:0px;
  position:absolute;
  left:549px;
  top:524px;
  width:206px;
  height:29px;
  text-align:right;
}
#u858_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:202px;
  word-wrap:break-word;
}
#u859 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u860_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:29px;
}
#u860 {
  border-width:0px;
  position:absolute;
  left:549px;
  top:553px;
  width:206px;
  height:29px;
  text-align:right;
}
#u860_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:202px;
  word-wrap:break-word;
}
#u861 {
  border-width:0px;
  position:absolute;
  left:645px;
  top:689px;
  width:116px;
  height:29px;
}
#u861_input {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u862 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:29px;
}
#u863 {
  border-width:0px;
  position:absolute;
  left:549px;
  top:582px;
  width:206px;
  height:29px;
  text-align:right;
}
#u863_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:202px;
  word-wrap:break-word;
}
#u864 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u865 {
  border-width:0px;
  position:absolute;
  left:549px;
  top:718px;
  width:96px;
  height:29px;
  text-align:right;
}
#u865_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:92px;
  word-wrap:break-word;
}
#u866 {
  border-width:0px;
  position:absolute;
  left:645px;
  top:718px;
  width:116px;
  height:29px;
}
#u866_input {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u867_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CC00FF;
}
#u867 {
  border-width:0px;
  position:absolute;
  left:1272px;
  top:367px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CC00FF;
}
#u867_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u868_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:369px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u868 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:447px;
  width:300px;
  height:369px;
}
#u868_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u869 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u870_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:29px;
}
#u870 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:535px;
  width:116px;
  height:29px;
  text-align:right;
}
#u870_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:112px;
  word-wrap:break-word;
}
#u871 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:535px;
  width:152px;
  height:29px;
}
#u871_input {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u871_input:disabled {
  color:grayText;
}
#u872_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u872 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:751px;
  width:80px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u872_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u873_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u873 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:751px;
  width:80px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u873_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u874_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u874 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:457px;
  width:228px;
  height:16px;
  font-size:13px;
}
#u874_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  word-wrap:break-word;
}
#u875_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:512px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u875 {
  border-width:0px;
  position:absolute;
  left:951px;
  top:465px;
  width:512px;
  height:170px;
  text-align:left;
}
#u875_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:508px;
  word-wrap:break-word;
}
