body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1286px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:995px;
  height:158px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 157, 217, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#009DD9;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:368px;
  width:995px;
  height:158px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#009DD9;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:244px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:114px;
  width:494px;
  height:244px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:42px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:31px;
  width:123px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:119px;
  word-wrap:break-word;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:201px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:136px;
  width:193px;
  height:201px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:24px;
  width:171px;
  word-wrap:break-word;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:136px;
  width:0px;
  height:0px;
}
#u4_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-88px;
  width:8px;
  height:88px;
}
#u4_seg1 {
  border-width:0px;
  position:absolute;
  left:-184px;
  top:-88px;
  width:188px;
  height:8px;
}
#u4_seg2 {
  border-width:0px;
  position:absolute;
  left:-191px;
  top:-94px;
  width:20px;
  height:20px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:-100px;
  top:-92px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:158px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 157, 217, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#009DD9;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:368px;
  width:123px;
  height:158px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#009DD9;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:60px;
  width:119px;
  word-wrap:break-word;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:244px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:114px;
  width:123px;
  height:244px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:112px;
  width:119px;
  word-wrap:break-word;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:52px;
  width:0px;
  height:0px;
}
#u7_seg0 {
  border-width:0px;
  position:absolute;
  left:-67px;
  top:-4px;
  width:67px;
  height:8px;
}
#u7_seg1 {
  border-width:0px;
  position:absolute;
  left:-67px;
  top:-4px;
  width:8px;
  height:403px;
}
#u7_seg2 {
  border-width:0px;
  position:absolute;
  left:-67px;
  top:391px;
  width:67px;
  height:8px;
}
#u7_seg3 {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:384px;
  width:22px;
  height:22px;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:-113px;
  top:190px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:201px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:136px;
  width:138px;
  height:201px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF9900;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:134px;
  word-wrap:break-word;
}
#u9_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:42px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:624px;
  top:31px;
  width:123px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:119px;
  word-wrap:break-word;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:136px;
  width:0px;
  height:0px;
}
#u10_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-88px;
  width:8px;
  height:88px;
}
#u10_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-88px;
  width:190px;
  height:8px;
}
#u10_seg2 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:-94px;
  width:20px;
  height:20px;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:1px;
  top:-92px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:70px;
  width:50px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF9900;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:46px;
  word-wrap:break-word;
}
#u12_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:42px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:397px;
  width:123px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:119px;
  word-wrap:break-word;
}
#u13_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:42px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:397px;
  width:123px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:119px;
  word-wrap:break-word;
}
#u14_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:42px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:743px;
  top:397px;
  width:123px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:119px;
  word-wrap:break-word;
}
#u15_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:42px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:962px;
  top:397px;
  width:123px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:119px;
  word-wrap:break-word;
}
#u16_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:995px;
  height:214px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 157, 217, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#009DD9;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:569px;
  width:995px;
  height:214px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#009DD9;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:214px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 157, 217, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#009DD9;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:569px;
  width:123px;
  height:214px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#009DD9;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:88px;
  width:119px;
  word-wrap:break-word;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:418px;
  width:0px;
  height:0px;
}
#u18_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:95px;
  height:8px;
}
#u18_seg1 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:-10px;
  width:20px;
  height:20px;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:657px;
  top:418px;
  width:0px;
  height:0px;
}
#u19_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:90px;
  height:8px;
}
#u19_seg1 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:-10px;
  width:20px;
  height:20px;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:866px;
  top:418px;
  width:0px;
  height:0px;
}
#u20_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:100px;
  height:8px;
}
#u20_seg1 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:-10px;
  width:20px;
  height:20px;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:42px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 157, 217, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:641px;
  width:123px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:119px;
  word-wrap:break-word;
}
#u22_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:42px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 157, 217, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:641px;
  width:123px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:119px;
  word-wrap:break-word;
}
#u23_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:42px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 157, 217, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:629px;
  top:641px;
  width:123px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:119px;
  word-wrap:break-word;
}
#u24_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:42px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:872px;
  top:595px;
  width:123px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#009DD9;
}
#u24_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:119px;
  word-wrap:break-word;
}
#u25_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 157, 217, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#009DD9;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:461px;
  width:168px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#009DD9;
}
#u25_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:164px;
  word-wrap:break-word;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:1024px;
  top:439px;
  width:0px;
  height:0px;
}
#u26_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:9px;
}
#u26_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:1px;
  width:8px;
  height:114px;
}
#u26_seg2 {
  border-width:0px;
  position:absolute;
  left:-934px;
  top:107px;
  width:938px;
  height:8px;
}
#u26_seg3 {
  border-width:0px;
  position:absolute;
  left:-934px;
  top:107px;
  width:8px;
  height:134px;
}
#u26_seg4 {
  border-width:0px;
  position:absolute;
  left:-934px;
  top:233px;
  width:41px;
  height:8px;
}
#u26_seg5 {
  border-width:0px;
  position:absolute;
  left:-906px;
  top:227px;
  width:20px;
  height:20px;
}
#u26_text {
  border-width:0px;
  position:absolute;
  left:-541px;
  top:103px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:662px;
  width:0px;
  height:0px;
}
#u27_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:37px;
  height:8px;
}
#u27_seg1 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:-10px;
  width:20px;
  height:20px;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:-34px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:662px;
  width:0px;
  height:0px;
}
#u28_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:37px;
  height:8px;
}
#u28_seg1 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:-10px;
  width:20px;
  height:20px;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:-34px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:752px;
  top:662px;
  width:0px;
  height:0px;
}
#u29_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:64px;
  height:8px;
}
#u29_seg1 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:-50px;
  width:8px;
  height:54px;
}
#u29_seg2 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:-50px;
  width:64px;
  height:8px;
}
#u29_seg3 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:-56px;
  width:20px;
  height:20px;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:-31px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:42px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:1065px;
  top:696px;
  width:123px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#009DD9;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:119px;
  word-wrap:break-word;
}
#u31_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:42px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:872px;
  top:696px;
  width:123px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#009DD9;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:119px;
  word-wrap:break-word;
}
#u32_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:42px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:1065px;
  top:595px;
  width:123px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#009DD9;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:119px;
  word-wrap:break-word;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:995px;
  top:616px;
  width:0px;
  height:0px;
}
#u33_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:74px;
  height:8px;
}
#u33_seg1 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:-10px;
  width:20px;
  height:20px;
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:752px;
  top:662px;
  width:0px;
  height:0px;
}
#u34_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:65px;
  height:8px;
}
#u34_seg1 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:-4px;
  width:8px;
  height:63px;
}
#u34_seg2 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:51px;
  width:63px;
  height:8px;
}
#u34_seg3 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:45px;
  width:20px;
  height:20px;
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:11px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:995px;
  top:717px;
  width:0px;
  height:0px;
}
#u35_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:74px;
  height:8px;
}
#u35_seg1 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:-10px;
  width:20px;
  height:20px;
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:471px;
  width:50px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:46px;
  word-wrap:break-word;
}
#u37_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 157, 217, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#009DD9;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:700px;
  width:168px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#009DD9;
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:164px;
  word-wrap:break-word;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:775px;
  top:479px;
  width:0px;
  height:0px;
}
#u38_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:141px;
  height:8px;
}
#u38_seg1 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:-65px;
  width:8px;
  height:69px;
}
#u38_seg2 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:-65px;
  width:50px;
  height:8px;
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:72px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:418px;
  width:0px;
  height:0px;
}
#u39_seg0 {
  border-width:0px;
  position:absolute;
  left:-51px;
  top:-4px;
  width:51px;
  height:8px;
}
#u39_seg1 {
  border-width:0px;
  position:absolute;
  left:-51px;
  top:-4px;
  width:8px;
  height:69px;
}
#u39_seg2 {
  border-width:0px;
  position:absolute;
  left:-51px;
  top:57px;
  width:124px;
  height:8px;
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:-91px;
  top:53px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:662px;
  width:0px;
  height:0px;
}
#u40_seg0 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:-4px;
  width:23px;
  height:8px;
}
#u40_seg1 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:-4px;
  width:8px;
  height:64px;
}
#u40_seg2 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:52px;
  width:77px;
  height:8px;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:-69px;
  top:47px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:695px;
  top:718px;
  width:0px;
  height:0px;
}
#u41_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:79px;
  height:8px;
}
#u41_seg1 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:-60px;
  width:8px;
  height:64px;
}
#u41_seg2 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:-60px;
  width:22px;
  height:8px;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:24px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:32px;
  width:15px;
  height:15px;
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:32px;
  width:15px;
  height:15px;
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:1117px;
  top:32px;
  width:15px;
  height:15px;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:1236px;
  top:32px;
  width:15px;
  height:15px;
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:901px;
  top:40px;
  width:0px;
  height:0px;
}
#u46_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:4px;
}
#u46_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:93px;
  height:8px;
}
#u46_seg2 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:-10px;
  width:20px;
  height:20px;
}
#u46_text {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:1005px;
  top:40px;
  width:0px;
  height:0px;
}
#u47_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:4px;
}
#u47_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:116px;
  height:8px;
}
#u47_seg2 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:-10px;
  width:20px;
  height:20px;
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:6px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:1132px;
  top:40px;
  width:0px;
  height:0px;
}
#u48_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:4px;
}
#u48_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:108px;
  height:8px;
}
#u48_seg2 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:-10px;
  width:20px;
  height:20px;
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:876px;
  top:57px;
  width:36px;
  height:20px;
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u50_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:962px;
  top:60px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u50_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u51_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:1082px;
  top:60px;
  width:78px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u51_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u52_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:1220px;
  top:59px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u52_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u53_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:914px;
  top:648px;
  width:15px;
  height:15px;
}
#u53_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:1137px;
  top:648px;
  width:15px;
  height:15px;
}
#u54_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:929px;
  top:656px;
  width:0px;
  height:0px;
}
#u55_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:212px;
  height:8px;
}
#u55_seg1 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:-10px;
  width:20px;
  height:20px;
}
#u55_text {
  border-width:0px;
  position:absolute;
  left:54px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:875px;
  top:646px;
  width:36px;
  height:20px;
}
#u56_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u57_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:1157px;
  top:646px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u57_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u58_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:916px;
  top:749px;
  width:15px;
  height:15px;
}
#u58_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:1090px;
  top:749px;
  width:15px;
  height:15px;
}
#u59_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:931px;
  top:757px;
  width:0px;
  height:0px;
}
#u60_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:163px;
  height:8px;
}
#u60_seg1 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:-10px;
  width:20px;
  height:20px;
}
#u60_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:877px;
  top:747px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u61_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u62_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:1110px;
  top:747px;
  width:78px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u62_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u63_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:995px;
  height:214px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 157, 217, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#009DD9;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:795px;
  width:995px;
  height:214px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#009DD9;
}
#u63_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:214px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 157, 217, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#009DD9;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:795px;
  width:123px;
  height:214px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#009DD9;
}
#u64_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:88px;
  width:119px;
  word-wrap:break-word;
}
#u65_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:42px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 157, 217, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:867px;
  width:123px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u65_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:119px;
  word-wrap:break-word;
}
#u66_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:42px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 157, 217, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:867px;
  width:123px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u66_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:119px;
  word-wrap:break-word;
}
#u67_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:42px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 157, 217, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:629px;
  top:867px;
  width:123px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u67_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:119px;
  word-wrap:break-word;
}
#u68_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:42px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:872px;
  top:867px;
  width:123px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#009DD9;
}
#u68_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:119px;
  word-wrap:break-word;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:888px;
  width:0px;
  height:0px;
}
#u69_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:37px;
  height:8px;
}
#u69_seg1 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:-10px;
  width:20px;
  height:20px;
}
#u69_text {
  border-width:0px;
  position:absolute;
  left:-34px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:888px;
  width:0px;
  height:0px;
}
#u70_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:37px;
  height:8px;
}
#u70_seg1 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:-10px;
  width:20px;
  height:20px;
}
#u70_text {
  border-width:0px;
  position:absolute;
  left:-34px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:752px;
  top:888px;
  width:0px;
  height:0px;
}
#u71_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:124px;
  height:8px;
}
#u71_seg1 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:-10px;
  width:20px;
  height:20px;
}
#u71_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:42px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:1065px;
  top:867px;
  width:123px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#009DD9;
}
#u72_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:119px;
  word-wrap:break-word;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:995px;
  top:888px;
  width:0px;
  height:0px;
}
#u73_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:74px;
  height:8px;
}
#u73_seg1 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:-10px;
  width:20px;
  height:20px;
}
#u73_text {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 157, 217, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#009DD9;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:926px;
  width:168px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#009DD9;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:164px;
  word-wrap:break-word;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:888px;
  width:0px;
  height:0px;
}
#u75_seg0 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:-4px;
  width:23px;
  height:8px;
}
#u75_seg1 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:-4px;
  width:8px;
  height:64px;
}
#u75_seg2 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:52px;
  width:77px;
  height:8px;
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:-69px;
  top:47px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:695px;
  top:944px;
  width:0px;
  height:0px;
}
#u76_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:79px;
  height:8px;
}
#u76_seg1 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:-60px;
  width:8px;
  height:64px;
}
#u76_seg2 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:-60px;
  width:22px;
  height:8px;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:24px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:914px;
  top:916px;
  width:15px;
  height:15px;
}
#u77_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:1137px;
  top:916px;
  width:15px;
  height:15px;
}
#u78_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:929px;
  top:924px;
  width:0px;
  height:0px;
}
#u79_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:212px;
  height:8px;
}
#u79_seg1 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:-10px;
  width:20px;
  height:20px;
}
#u79_text {
  border-width:0px;
  position:absolute;
  left:54px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:896px;
  top:941px;
  width:75px;
  height:20px;
}
#u80_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u81_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:1130px;
  top:941px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u81_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:1024px;
  top:439px;
  width:0px;
  height:0px;
}
#u82_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:115px;
}
#u82_seg1 {
  border-width:0px;
  position:absolute;
  left:-934px;
  top:107px;
  width:938px;
  height:8px;
}
#u82_seg2 {
  border-width:0px;
  position:absolute;
  left:-934px;
  top:107px;
  width:8px;
  height:360px;
}
#u82_seg3 {
  border-width:0px;
  position:absolute;
  left:-934px;
  top:459px;
  width:41px;
  height:8px;
}
#u82_seg4 {
  border-width:0px;
  position:absolute;
  left:-906px;
  top:453px;
  width:20px;
  height:20px;
}
#u82_text {
  border-width:0px;
  position:absolute;
  left:-654px;
  top:103px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:244px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:805px;
  top:114px;
  width:481px;
  height:244px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:201px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:1042px;
  top:136px;
  width:193px;
  height:201px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u84_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:84px;
  width:171px;
  word-wrap:break-word;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:201px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:857px;
  top:136px;
  width:138px;
  height:201px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF9900;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:84px;
  width:134px;
  word-wrap:break-word;
}
